@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    margin: 0;
    margin-bottom: 3%;
    background-image: url("../img/galaxy2.png");
}

body *{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    font-size: large;
}

header{
    background-color: #0c5461a6;
    margin: 0 0 3% 0;
    padding: 2% 0;
    color: #91e7f7;
}

header h1{
    font-size: xx-large;
}

main{
    display: flex;
    justify-content: center;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 60%;
    padding: 2%;
    border: 2px black ;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.548);
    color: white;
}

.titulo h2{
    text-align: center;
    font-size: xx-large;
}


.calendarioBtn{
    display:flex;
    align-items: center;
    width: 30vw;
    justify-content: space-between;
    margin-top: 3%;
}


#submit{
    width: 10vw;   
    font-family: 'Roboto', sans-serif;
    background-color: rgba(10, 100, 128, 0.692);
    color:white;
    border-radius: 3px;
}

#submit:hover{
    font-size: x-large;
    transition: 500ms;
}

#submit:active{
    background-color: #3db0c6;
    color: #043741;
    transition: 200ms;
}
.dados{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 5%;
}

img{
    padding: 3%;
    width: 50vw;
}

iframe{
    width: 50vw;
    height: 40vh;
    margin-bottom: 10%;
}

@media (max-width:1200px){
    .container{
        width: 80vw;
    }

    .calendarioBtn{
        flex-direction: column;
        height: 12vh;
        justify-content: space-around;
        align-items: center;
        width: fit-content;
    }

    #submit{
        width: 20vw;
    }

    iframe{
        width: 60vw;
        height: 35vh;
    }
    
}

@media (max-width:700px){
    header h1 {
        font-size:  x-large;
    }

    .titulo h2{
        font-size: large;
    }

    .container *{
        font-size: medium;
    }

    #submit{
        width: 50vw;
    }

    img{
        width: 70vw;
    }

    iframe{
        width: 70vw;
        height: 20vh;
    }
}
