@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body{
    margin: 0;
    margin-bottom: 3%;
    background-image: url("../img/outerspace-70.gif");

}

header{
    background-color: #0c5461a6;
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

header h1 {
    text-align: center;
    margin-bottom: 3%;
    margin-top: 0;
    padding: 2% 0;
    color: #91e7f7;
}

main{
    display: flex;
    justify-content: center;
    font-family: 'Roboto', sans-serif;
}

.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 60%;
    padding: 2%;
    border: 2px black ;
    border-radius: 30px;
    background-color: rgba(0, 0, 0, 0.548);
    color: white;
    font-size: large;
}

.titulo h2{
    text-align: center;
    font-size: xx-large;
}

.campoData{
    text-align: center;
}


.calendarioBtn{
    display:flex;
    align-items: center;
    width: 30vw;
    justify-content: space-around;
    margin-top: 3%;
}

#data{
    font-family: 'Roboto', sans-serif;
    font-size: large;
}

#submit{
    width: 8vw;
    font-family: 'Roboto', sans-serif;
    font-size: large;
    background-color: rgba(10, 100, 128, 0.692);
    color:white;
    border-radius: 3px;
}

#submit:hover{
    font-size: x-large;
    transition: 500ms;
}

#submit:active{
    background-color: #3db0c6;
    color: #0c5461;
    transition: 200ms;
}
.dados{
    display: flex;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin-top: 5%;
}

img{
    padding: 3%;
    width: 50vw;
}

